.twocolumn {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
}

.twocolumnsl {
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 20px;
}

.twocolumnsr {
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 20px;
}
